# Exclude everything by default
*

# Re-include notebooks in Scripts/
!Scripts/
!Scripts/*.ipynb

# Exclude checkpoints inside notebooks
Scripts/.ipynb_checkpoints/

# Re-include .gitignore itself
!.gitignore
